[Unit]
Description=Skylanders Gamepad Daemon
After=bluetooth.target

[Service]
ExecStart=/usr/bin/skylanders-gamepad-daemon
WorkingDirectory=/root
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root
Group=input

[Install]
WantedBy=multi-user.target